<div style="float:right;">
<%= mail_to "ksweeny@mcoa.com, cdickson@mcoa.com", subject: "Claim Queue Setup is Done for group #{@project.group_number} - #{@project.group_name}", 
            body: "The Claim Queue has been created for group #{@project.group_number} - #{@project.group_name}." do %>
  <button class="btn btn-success"><strong>Claim Queue Notice</strong></button>
<% end %>
</div>
