<div style="float:right;">
<%= mail_to "ksweeny@mcoa.com, cdickson@mcoa.com, rwilliams@mcoa.com", subject: " Tasks not complete for group #{@project.group_number} - #{@project.group_name}", 
            body: "Roney,
            	You have tasks that are not complete for group #{@project.group_number} - #{@project.group_name}.  Please complete your tasks as soon as possible." do %>
  <button class="btn btn-success"><strong>Roney</strong></button>
<% end %>
</div>